:root {
    --color-lighgray: #EFEBE4;
    --color-gray: #344652;
    --color-dark: #101F2A;
    --color-orange: #FFB143;
    --color-red: #FF4343;
    --aside-menu-width: 320px;
    --indent-default: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
}
button:focus, input:focus, textarea:focus {
    outline: none;
}
button {
    border: none;
}
img {
    max-width: 100%;
}