body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: var(--color-dark);
}
.aside {
    width: var(--aside-menu-width);
}
.main {
    flex: 1;
}
.preloader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 31, 42, 0.1);
}
.preloader .animation {
    width: 225px;
    height: 150px;
}
.preloader.loading {
    display: flex;
}
.burger {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    top: var(--indent-default);
    left: var(--indent-default);
    z-index: 5;
}
.burger .line {
    display: block;
    position: absolute;
    left: 4px;
    width: 24px;
    height: 2px;
    background-color: var(--color-dark);
    transition: .2s;
    opacity: 1;
}
.burger.open .line {
    background-color: var(--color-lighgray);
}
.burger .line:first-child {
    top: 6px;
}
.burger .line:nth-child(2), .burger .line:nth-child(3) {
    top: 14px;
}
.burger .line:last-child {
    top: 22px;
}
.burger.open .line:first-child {
    top: -2px;
    opacity: 0;
}
.burger.open .line:nth-child(2) {
    transform: rotate(45deg);
}
.burger.open .line:nth-child(3){
    transform: rotate(-45deg);
}
.burger.open .line:last-child {
    top: 32px;
    opacity: 0;
}
.dropdown {
    position: relative;
}
.dropdown .link {
    cursor: pointer;
}
.dropdown-menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 20px;
    right: 0;
    padding: calc(var(--indent-default) / 2);
    background-color: var(--color-lighgray);
}
.dropdown-menu.open {
    display: block;
}
.dropdown-item {
    width: 100%;
    border-bottom: 1px solid var(--color-gray);
    padding: calc(var(--indent-default) / 2);
}
.dropdown-item:last-child {
    border: none;
}
.dropdown-link {
    color: var(--color-orange);
}
.content {
    padding: calc(var(--indent-default) * 2);
}
.input-group .label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.input-group .text {
    display: inline-block;
    width: 100px;
}
.input-group .input {
    flex: 1;
}
.input-group .input::placeholder {
    color: var(--color-gray-transparent);
    opacity: 0.5;
}
.input-block {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    margin: 0 calc(var(--indent-default) * 2) calc(var(--indent-default) * 2) 0;
}
.input-group.light .text {
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-gray);
}
.input-group.light .input {
    flex: auto;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #101F2A;
    color: var(--color-gray-transparent);
    border: none;
    border-bottom: thin solid var(--color-gray-transparent);
}
.input-group.light .input:focus {
    color: var(--color-gray);
    border-bottom-color: var(--color-orange);
}