@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 768px) {
    .burger {
        display: block;
    }
    .aside {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        min-height: 100vh;
        overflow: hidden;
        z-index: 2;
    }
    .aside.open {
        width: var(--aside-menu-width);
    }
    .header {
        padding: var(--indent-default) calc(var(--indent-default) * 4);
    }
}
@media screen and (max-width: 575px) {}
@media screen and (max-width: 425px) {
    .aside.open {
        width: 100%;
    }
}